[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[user]
	email = 169668286+ben-at-catalyst@users.noreply.github.com
	name = Ben McLean
[init]
	defaultBranch = main
[core]
	editor = vim
[merge]
	ff = no
	commit = no
[push]
	autoSetupRemote = true
[pull]
	ff = only
[alias]
	bb = !~/.dotfiles/better-git-branch.sh
	delete-merged-branches = !~/.dotfiles/delete-merged-branches.sh
