[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[user]
	email = 35312653+BenMcLean981@users.noreply.github.com
	name = Ben McLean
[init]
	defaultBranch = main
[core]
	editor = code --wait
